:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

.container {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    margin: 100px auto;
}

.grid {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
}